main{
    width: 100%;
    height: 100%;
    /* BANNER */
    .banner{
        width: 100%;
        text-align: center;
        background-image: url(../img/header-bg.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll; 
        background-position: center center;
        background-size: contain;
        
        color: black;
        
        .container{
            
            height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            margin-right: auto;
            margin-left: auto;

            h2{
                font-size: 4.5rem;
                font-weight: 700;
                line-height: 4.5rem;
                letter-spacing: 0.1rem;
                
                span{
                    font-size: 2.25rem;
                    font-style: italic;
                    line-height: 2.25rem;
                    margin-bottom: 2rem;
                }
            }

            a{
                width: 20%;
                display: inline-block;
                padding: 1.25rem 2.5rem;
                font-size: 1.125rem;
                font-weight: 700;
                margin: 1.5rem 0rem;
                line-height: 1.5;
                text-align: center;
                text-decoration: none;
                vertical-align: middle;
                cursor: pointer;

                border-radius: 0.25rem;
                color: $segundo;
                background-color: $primero;
                border-color: $primero;

                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }
        }
            
    } 
    /* BUSINESS MODEL */
    .business {
        h2 {
            text-align: center;
        }
        .container {
            display: flex;
            justify-content: space-around;
            .talent, .sources {
                width: 250px;
            }
        }
    }    
    /* CONTACTO */
    .Contact{
        display: flex;
        direction: row;
    input{
        height:40px;
        width: 400px;
        border-radius: 10px;
        padding-left:10px;
    }
  
  }
}